Data/Transkriptionen/schema_old.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="brief">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ae">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="abs" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="status"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="emp" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="status"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="hw" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element type="xs:string" name="k" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="od">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="ort" maxOccurs="unbounded"/>
                            <xs:element name="datum" maxOccurs="2">
                                <xs:complexType mixed="true">
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element type="xs:string" name="a"/>
                                        <xs:element type="xs:string" name="i"/>
                                        <xs:element name="k">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        <xs:element type="xs:string" name="gr"/>
                                        <xs:element name="fx">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="f1">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="fn">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                                <xs:attribute name="nr" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="fc" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute type="xs:string" name="status" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="hw" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element type="xs:string" name="k" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="vo" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType mixed="true">
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element type="xs:string" name="gr" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="fx" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="f1" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="fn" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="fc" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="k" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:choice>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dr" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element type="xs:string" name="a"/>
                            <xs:element type="xs:string" name="i"/>
                            <xs:element name="k">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="gr"/>
                            <xs:element name="fx">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="f1">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="fn">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="fc" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="re"/>
                <xs:element name="hw" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:choice>
                            <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element type="xs:string" name="k" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="fn">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="nr"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="text">
                    <xs:complexType mixed="true">
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element type="xs:string" name="gr"/>
                            <xs:element type="xs:string" name="spr"/>
                            <xs:element name="fn">
                                <xs:complexType mixed="true">
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:choice>
                                    <xs:attribute name="nr" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="fx">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="f1">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="fc">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="zzl"/>
                            <xs:element type="xs:string" name="vl"/>
                            <xs:element type="xs:string" name="a"/>
                            <xs:element type="xs:string" name="i"/>
                            <xs:element type="xs:string" name="k"/>
                            <xs:element type="xs:string" name="d"/>
                            <xs:element name="oz">
                                <xs:complexType mixed="true">
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="k">
                                        <xs:complexType mixed="true">
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="gr" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="fx">
                                        <xs:complexType mixed="true">
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="f1">
                                        <xs:complexType mixed="true">
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="fc">
                                        <xs:complexType mixed="true">
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="fn">
                                        <xs:complexType mixed="true">
                                            <xs:choice>
                                                <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                                <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:choice>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="un">
                            <xs:complexType mixed="true">
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="k">
                                        <xs:complexType mixed="true">
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="gr" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="fx">
                                        <xs:complexType mixed="true">
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="f1">
                                        <xs:complexType mixed="true">
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="fc">
                                        <xs:complexType mixed="true">
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="fn">
                                        <xs:complexType mixed="true">
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="ort" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="adr">
                                <xs:complexType mixed="true">
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element type="xs:string" name="a"/>
                                        <xs:element type="xs:string" name="i"/>
                                        <xs:element name="k">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="i" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                                    <xs:element type="xs:string" name="ort" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element type="xs:string" name="gr"/>
                                        <xs:element name="fx">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="f1">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="fc">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="fn">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="a" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="ps"/>
                        <xs:element type="xs:string" name="hw"/>
                    </xs:choice>
                </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id"/>
            <xs:attribute type="xs:integer" name="jahr"/>
            <xs:attribute type="xs:string" name="lang"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
